[user]
	name = Jai
	email = jkbhagatio@gmail.com
[winUpdater]

[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[core]
	autocrlf = true
	editor = nano
[credential "helperselector"]
	selected = manager-core
[alias]
	ac = !git add -A && git commit -m
[github]
	user = jkbhagatio
